.container
{
  font-family: "微軟正黑體";
}

/* top */
.container .top
{
  width: 100%;
  height:10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;;
}
.container .top .logo
{
  width: 200px;
  height: 200px;
  background-color: #aaa;
  margin:20px;
}
.container .top .list
{
  width: 100%;
  height: 100px;
  background-color: #EDB05E;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom:20px;
  font-size: 16pt;
}
.container .top .list .btn
{
  font-size: 0.875em;
}
.btn,.btn_1
{
  width: 10%;
  height: 80%;
  background-color: #EDB05E;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 3px 3px 0 rgba(0,0,0,0.19);
  transition-duration: 0.5s;
  border-radius: 8px;
}
.container .top .list .btn:hover
{
  background-color: #F6C877;
  color: #875F83;
  font-weight: bold;
}
.container .top .list .btn:hover.btn_1 ul
{
  opacity: 1;
  height: 250px;
}
.container .top .list .btn.btn_1 ul
{
  background-color: #F6C877;
  border: solid 1px;
	padding: 0;
	position: absolute;
	width: 100px;
	text-align: center;
  top: 325px;
  transition-duration: 0.5s;
	opacity: 0;
	height: 0;
	overflow: hidden;
}
.container .top .list .btn.btn_1 ul li
{
  display: inline-block;
  list-style: none;
  padding: 10px 15px;
  color: #875F83;
}

 .container .main
{
  width: 100%;
  height: 80%;
}

/* about */
.container .main .about
{
  width:100%;
  height: 20%;
  background-color: #F8EC80;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .main .about .aboutL
{
  width: 45%;
  height: 100%;
  /* background-color: #F8EC80; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 20px;
}
.container .main .about .aboutL h1
{
  width: 100%;
  height: 5%;
  padding-top: 40px;
}
.container .main .about .aboutL p
{
  width: 100%;
  height: 50%;
  font-size: 1.875em;
}
.container .main .about .aboutR
{
  width: 45%;
  height: 400px;
  background-image: url(/material/9-2.jpg);
  border-radius: 1px;
  background-position: center;
  background-size: cover;
  margin: 20px;
}

/* intro */
.container .main .intro
{
  width: 100%;
  height: 10%;
}
.container .main .intro h1
{
  width: 100%;
  height: 50px;
  background-color: white;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.container .main .intro .PIC
{
  width: 100%;
  height: 300px;
  background-color: #F9DCB6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}  
.container .main .intro .pic
{
  width: 20%;
  height: 80%;
  border-radius: 50%;
  background-color: aqua;
  background-position: center;
  background-size: cover;
}
.container .main .intro .pic.pic_1
{
  background-image: url(material/12.jpg);
}
.container .main .intro .pic.pic_2
{
  background-image: url(material/6.jpg);
}
.container .main .intro .pic.pic_3
{
  background-image: url(material/3.jpg);
}
.container .main .intro .pic.pic_4
{
  background-image: url(material/10.jpg);
}
.container .main .intro .pic.pic_5
{
  background-image: url(material/4.jpg);
}